blockquote p {
  font-size: 14px;
}

.post-header {
  margin-top: 1.4em;
  border-bottom: 1px solid #e3e3e3;
}

.avatar-header {
  background-color: #fdfdfd;
}

.post {
  padding: 0.8em 0.8em 0.8em 0.8em;
}

#post-avatar {
  padding: 2px 10px 0 10px;
}

#post-author {
  font-weight: bold;
  font-size: 100%;
  /*
  -moz-transform:rotate(-90deg);
  -moz-transform-origin: top right;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: top right;
  -o-transform: rotate(-90deg);
  -o-transform-origin:  top right;
  position: relative;
  left: -100%;*/
}

#post-timestamp {
  font-weight: normal;
  font-size: 75%;
}

#post-operations {
  font-size: 120%;
}

textarea#post-body, input#post-thread-title, textarea#post-thread-content {
  width: 70%;
}

.page-header {
  background-color: #fdfdfd;
  border-bottom: 2px solid #e3e3e3;
  margin-top: 0px;
}

.page-footer {
  background-color: #fdfdfd;
  border-top: 2px solid #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
  padding: 0.8em 0.8em 0.8em 0.8em;
}

a.quote:hover {
  cursor: pointer;
}

div.accepted {
  background-color: #dff0d8;
}

div.rejected {
  background-color: #f0dfd8;
}

div.thread-row {
  font-size: 125%;
}