.post-header {
  margin-top:1.4em;
  border-bottom:1px solid #222222;
}

.post {
  padding:0.8em 0.8em 0.8em 0.8em;
}

#post-author {
  font-weight:bold;
  font-size:120%;
}

#post-timestamp {
  font-weight:normal;
  font-size:75%;
}

#post-operations {
  font-size:150%;
  text-align:right;
}