{% extends "base.html" %}
{% macro approved_string(approved) -%}
    {{ {none:"", true:"accepted", false:"rejected"}[approved] }}
{%- endmacro %}
{% macro accepted_rejected(applicant, approved) -%}
  {% if approved is none %}
    <form action="" method="post" id="applicant-form">
      <button type="submit" id="applicant-accept" name="applicant-accept" value="{{ applicant.id }}">accept</button>
      <button type="submit" id="applicant-reject" name="applicant-reject" value="{{ applicant.id }}">reject</button>
    </form>
  {% else %}
    <p><span class="{{ approved_string(approved) }}">{{ approved_string(approved) }}</span> by <strong>{{ applicant.processor.name }}</strong></p>
  {% endif %}
{%- endmacro %}
{% block content %}
    <div class="row page-header">
        <div class="span8 offset2">
            <h2><a href="{{ url_for('thread_list_view') }}">ingroup</a></h2>
            <h4>applicants</h4>
        </div>
    </div>
    {% for applicant in applicants %}
    <div class="{{ ("row", approved_string(applicant.approved))|join(" ") }}">
      <div class="span2 offset2">
          <p><strong>{{ applicant.name }}</strong></p>
      </div>
      <div class="span4 offset1">
          <p>{{ applicant.reason }}</p>
      </div>
      <div class="span2">
        {{ accepted_rejected(applicant, applicant.approved) }}
      </div>
    </div>
    {% endfor %}
{% endblock %}