<!DOCTYPE html>
<html lang="en">
<head>
    <title>ingroup - alpha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forum.css') }}" type="text/css" />
    <script src="{{ url_for('static', filename='js/jquery-1.8.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
        {% block script %}{% endblock %}
    </script>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
