{% extends "base.html" %}
{% block content %}
    {% if num_applicants %}
      <div class="row">
        <div class="span8 offset2">
            <a href="{{ url_for('applicants') }}"><h5>{{ num_applicants }} applicants pending</h5></a>
        </div>
      </div>
    {% endif %}
    {% for forum in forums %}
    <div class="row">
        <div class="span8 offset2">
        <a href="{{ url_for('thread_list_view', forum_id=forum['id']) }}"><h3>{{forum['title']}}</h3></a>
        <h6>{{forum['subtitle']}}</h6>
        </div>
    </div>
    {% endfor %}
    <hr />
    <div class="row">
      <div class="span8 offset2">
          <form action="" method="post" id="form-create-forum">
              <input type="text" id="create-forum-name" name="create-forum-name" size="50" maxlength="50" />
              <input type="text" id="create-forum-description" name="create-forum-description" size="100" maxlength="100" />
              <button type="submit" id="create-forum">create</button>
          </form>
      </div>
    </div>
{% endblock %}