{% extends "base.html" %}
{% block content %}
    <div class="row">
      <div class="span8 offset2"><h2>{{ thread.title }}</h2></div>
    </div>
    {% for post in posts %}
    <div class="row">
      <div class="post-header span8 offset2">
          <div class="row">
              <div class="span2" id="post-author">{{ post.author.name }}</div>
              <div class="span2" id="post-timestamp">{{ post.get_localized_datetime() }}</div>
              <div class="span2 offset2" id="post-operations">
                  <a class="quote" id="{{ post.id }}" name="{{ post.author.name }}">Q</a>
              </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="post span8 offset2">
				{{ Markup(post.content_html) }}
      </div>
      <div class="hidden" id="{{ post.id }}raw">{{ post.content_raw }}</div>
    </div>
    {% endfor %}
    <hr />
    <div class="row">
      <div class="span4 offset4">
        <form action="" method="post" id="post-form">
          <textarea id="post-body" name="post-body" rows="4" maxlength="5000" required="true"></textarea>
          <button type="submit" id="post-submit" name="post-submit">post</button>
        </form>
      </div>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    String.prototype.unescapeHtml = function () {
        var temp = document.createElement("div");
        temp.innerHTML = this;
        var result = temp.childNodes[0].nodeValue;
        temp.removeChild(temp.firstChild);
        return result;
    }

    $(document).ready(function() {
    $('a.quote').click(function() {
        var $content_raw = $('#' + this.id + 'raw').html();
        var $new_quote_poop = ["> ###### _" + this.name + " said:_"];
        $.each($content_raw.split('\n'), function(index, line) {
            $new_quote_poop.push(">" + line);
        });

        var $new_quote = $new_quote_poop.join('\n');
        $('#post-body').val($('#post-body').val() + $new_quote.unescapeHtml());
    });
  });
</script>
{% endblock %}