{% extends "base.html" %}
{% block content %}
    <div class="row">
      <div class="span8 offset2"><h2>{{ thread.title }}</h2></div>
    </div>
    {% for post in posts %}
    <div class="row">
      <div class="post-header span8 offset2">
        <p>{{ post.author.name }} <span class="timestamp">{{ post.get_localized_datetime() }}</span></p>
        <a class="quote" id="{{ post.id }}"><p class="quote-button">Q</p></a>
      </div>
    </div>
    <div class="row">
      <div class="span8 offset2">
				{{ Markup(post.content_html) }}
      </div>
      <div class="hidden" id="{{ post.id }}raw">{{ Markup(post.content_raw) }}</div>
    </div>
    {% endfor %}
    <div class="row">
      <div class="span4 offset4">
        <form action="" method="post" id="post-form">
          <textarea id="post-body" name="post-body" rows="4" maxlength="5000" required="true"></textarea>
          <button type="submit" id="post-submit" name="post-submit">post</button>
        </form>
      </div>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  $(document).ready(function() {
    $('a.quote').click(function() {
        var $content_raw = $('#' + this.id + 'raw').html();
        $('#post-body').val($('#post-body').val() + $content_raw);
    });
  });
</script>
{% endblock %}