{% extends "base.html" %}
{% block content %}
    <div class="row page-header">
        <div class="span8 offset1">
          <h2><a href="{{ url_for('thread_list_view') }}">ingroup</a></h2>
          <h4>{{ thread.title }}</h4>
        </div>
    </div>

    {% for post in posts %}
    <div class="row post-header">
      <div class="span3 offset1" id="post-author">{{ post.author.display_name }}</div>
      <div class="span2" id="post-timestamp">{{ post.local_time(user_tz) }}</div>
      <div class="span1" id="post-operations">
          <a class="quote" id="{{ post.number }}" name="{{ post.author.display_name }}">Q</a>
      </div>
    </div>

    <div class="row">
      <!--<div class="span2" id="post-avatar"><img data-src="holder.js/120x64"></div>-->
      <div class="span8 offset1 post">{{ Markup(post.content_html) }}</div>
      <div hidden="true" id="{{ post.number }}raw">{{ post.content_raw }}</div>
    </div>
    {% endfor %}

    <div class="row page-footer">
      <div class="span8 offset1">
        <form action="" method="post" id="post-form">
          <textarea id="post-body" name="post-body" rows="8" maxlength="5000" required="true"></textarea>
          <button type="submit" id="post-submit" name="post-submit">post</button>
        </form>
      </div>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    String.prototype.unescapeHtml = function () {
        var temp = document.createElement("div");
        temp.innerHTML = this;
        var result = temp.childNodes[0].nodeValue;
        temp.removeChild(temp.firstChild);
        return result;
    }

    $(document).ready(function() {
    $('a.quote').click(function() {
        var $content_raw = $('#' + this.id + 'raw').html();
        var $new_quote_poop = ["> ####" + this.name + " said:"];
        $.each($content_raw.split('\n'), function(index, line) {
            $new_quote_poop.push(">" + line);
        });

        var $new_quote = $new_quote_poop.join('\n');
        $new_quote = $new_quote + "\n\n";
        var $post_body = $('#post-body');
        $post_body.val($post_body.val() + $new_quote.unescapeHtml());
        $post_body.focus();
    });
  });
</script>
{% endblock %}