{% extends "base.html" %}
{% block content %}
    <div class="row">
      <div class="span8 offset2"><h2>{{ thread.title }}</h2></div>
    </div>
    {% for post in posts %}
    <div class="row" name="{{ post.id }}">
        <div class="span2 offset2">
        <h5>{{ post.author.name }}</h5>
        </div>

        <div class="span8">
            <p>{{ post.content_html }}</p>
        </div>
    </div>
    {% endfor %}
    <form action="" method="post" id="post-form">
      <textarea id="post-body" name="post-body" rows="4" maxlength="5000" required="true"></textarea>
      <button type="submit" id="post-submit" name="post-submit" />
    </form>
{% endblock %}