{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="span8 offset2">
            <h2>ingroup</h2>
        </div>
    </div>
    {% for thread in threads %}
    <div class="row">
        <div class="span6 offset2">
        <a href="{{ url_for('thread_view', thread_id=thread.id) }}"><h5>{{thread.title}}</h5></a>
        </div>
    </div>
    {% endfor %}
    <hr />
    <div class="row">
        <div class="span8 offset2">
            <form action="" method="post" id="form-post-thread">
                <input type="text" id="post-thread-title" name="post-thread-title" size="50" maxlength="50" /><br/>
                <textarea id="post-thread-content" name="post-thread-content" rows="4" maxlength="5000" required="true"></textarea>
                <button type="submit" id="post-thread">post</button>
            </form>
        </div>
    </div>
{% endblock %}